body {
    visibility: hidden; /* Cache tout le contenu au chargement */
    overflow: hidden; /* Empêche le défilement */
}
body.anim-ready {
    visibility: visible; /* Rend le contenu visible une fois l'animation prête */
    overflow: auto; /* Réactive le défilement */
}
.container-competence {
    width: 100%;
    max-width: 2300px; 
    height: 100vh;
}
.competences {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.titre {
    height: 10%;
    text-align: center;
    
}
.listes {
    height: 80%;
    display: flex;
    padding-top: 8em;
}
.listes > div {
    flex: 1; 
    text-align: center; 
}
.cv {
    height: 10%;
    text-align: center;
    background-color: var(--text-chargement);
    width: 12em;
    height: 4em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.6em;
    margin-bottom: 5em;
    box-shadow: 1px 5px 5px #000000; 
   
}
a.visualiser-cv {
    color: rgb(23, 22, 22);
    font-size: 1.5rem;
    margin-top: 10px;
    font-family:"Kaisei Tokumin", serif;
}
h2 {
    font-size: 2rem;
    color: white;
    text-shadow:  3px 3px black;
    padding-top: 3em;
    font-family:"Jomolhari";
    font-weight: lighter;
    
}
h3 {
    text-shadow:  2px 2px black;
    font-size: 2.5rem;
    color: var(--text-chargement);
    font-family:"Jomolhari";
}
.listes-front li, .listes-back li, .listes-outils li {
    font-size: 2rem;
    color: white;
    padding-top: 0.6em;
}
.listes-front, .listes-back, .listes-outils {
    display: flex;
    flex-direction: column; 
    margin-top: 1em; 
    text-shadow:  2px 2px black;
}

img {
    width: 6em;
}
/* POUR LA CLASSE FRONT */
.css, .html, .github {
    border-radius: 50%;
}
.container-front {
    position: relative;
}
img.css, img.html, img.js {
    position: absolute;
}
.css {
    right: 20%;
    top: 12%;
}
.html {
    right: 40%;
    top: 60%;
}
.js {
    left: 15%;
    top: 20%;
}

/* POUR LA CLASSE BACK */

.container-back{
    position: relative;
}
img.laravel, img.symfo, img.php, img.mysql, img.mariadb {
    position: absolute;
}
.laravel {
    left: 10%;
    top: 15%
}
.symfo {
    left: 10%;
    top: 45%
}
.php {
    left: 42%;
    bottom: 12%
}
.mysql {
    right: 15%;
    top: 40%
}
.mariadb {
    right: 15%;
    top: 10%
}
/* POUR LA CLASSE OUTILS */

.container-outils {
    position: relative;
}
img.git, img.figma, img.agile, img.linux, img.github {
    position: absolute;
}
.git {
    left: 18%;
    top: 15%
}
.figma {
    left: 10%;
    top: 45%
}
.agile {
    left: 42%;
    bottom: 10%
}
.linux {
    right: 10%;
    top: 40%
}
.github {
    right: 15%;
    top: 10%
}
@media screen and (max-width: 1024px) {
    .listes {
        flex-direction: column;
        padding-top: 4em;
    }
    h2 {
        font-size: 1.3rem;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    h3 {
        font-size: 2rem;
    }
    .listes-front li, .listes-back li, .listes-outils li {
        font-size: 1.5rem;
        color: white;
        padding-top: 1em;
    }
    .back, .outils {
        margin-top: 7em;
    }
    img {
        width: 5.5em;
    }
    /* POUR LA CLASSE FRONT */
   
    .container-front {
        min-width: 600px;
        max-width: 600px;
        margin:  auto;
    }
    .js{
        border-radius: 50%;
    }
    .css {
        left: 40%;
        top: 100%;
    }
    .html {
        left: 10%;
        top: 40%
    }
    .js {
        left: 70%;
        top: 50%;
    }
   
    /* POUR LA CLASSE BACK */
    .container-back {
        min-width: 600px;
        max-width: 600px;
        margin:  auto;
    }
    .laravel {
        left: 45%;
        top: 100%
    }
    .symfo {
        left: 10%;
        top: 20%
    }
    .php {
        left: 10%;
        top: 65%
    }
    .mysql {
        left: 70%;
        top: 25%
    }
    .mariadb {
        left: 75%;
        top: 70%
    }
    /* POUR LA CLASSE OUTILS */
    .container-outils {
        min-width: 600px;
        max-width: 600px;
        margin:  auto;
    }
    .git {
        left: 10%;
        top: 60%
    }
    .figma {
        left: 60%;
        top: 10%
    }
    .agile {
        left: 75%;
        top: 80%
    }
    .linux {
        left: 65%;
        top: 35%
    }
    .github {
        left: 10%;
        top: 20%
    }
    .cv {
        width: 8em;
        height: 2.9em;
        padding-top: 0.6em;
        margin-top: 4em;
        margin-bottom: 1em;
    }
    a.visualiser-cv {
        font-size: 1rem;
        
    }
}
@media screen and (max-width: 600px) {
    .container-front {
        min-width: 400px;
    }
    .container-back {
        min-width: 400px;
    }
    .container-outils {
        min-width: 400px;
    }
}